@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato-Bold";
  src: url(./assets/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: "Lato-Regular";
  src: url(./assets/fonts/Lato-Regular.ttf);
}
